Repository radochm/build-test: changes, and which Prow jobs are due for each by the changed paths.
All: verify-image-build, push-image

.prow.yaml:

presubmits:
  - name: nmath-test
    decorate: true
    always_run: true
    spec:
      containers:
      - image: golang:1.12.5
        command:
        - make
        args:
        - test

postsubmits:
  - name: verify-image-build
    cluster: default
    branches:
    - master
    always_run: false
    run_if_changed: "(\\.go|^Makefile)$"
    skip_branches:
    annotations:
      description: Verify image build on pull requests to main branch
    decorate: true
    decoration_config:
      censor_secrets: true
    spec:
      containers:
      - name: kaniko
        image: gcr.io/kaniko-project/executor:v1.9.2
        command:
        - /kaniko/executor
        args:
        - --context=/home/prow/go/src/github.com/radochm/build-test
        - --dockerfile=Dockerfile
        - --no-push
        resources:
          requests:
            cpu: 2
            memory: 2Gi
  - name: push-image
    cluster: default
    always_run: false
    run_if_changed: "^VERSION$"
    skip_branches:
    annotations:
      description: Push image to DockerHub
    decorate: true
    decoration_config:
      censor_secrets: true
    spec:
      containers:
      - name: kaniko
        image: gcr.io/kaniko-project/executor:v1.9.2
        command:
        - /kaniko/executor
        args:
        - --context=/home/prow/go/src/github.com/radochm/build-test
        - --dockerfile=Dockerfile
        - --destination=radoslawc/nmath:1
        volumeMounts:
          - name: kaniko-secret
            mountPath: /kaniko/.docker/
        resources:
          requests:
            cpu: 2
            memory: 2Gi
      volumes:
        - name: kaniko-secret
          secret:
            secretName: regcred
            items:
              - key: .dockerconfigjson
                path: config.json

Update .prow.yaml
  .prow.yaml
Due: none

Update main.go
  main.go
Due: verify-image-build

Update Makefile
  Makefile
Due: verify-image-build

Update Dockerfile
  Dockerfile
Due: none

Create VERSION
  VERSION
Due: push-image

Delete VERSION
  VERSION
Due: push-image
